@namespace MyComponents.IngredientList
@rendermode InteractiveServer
@inject CircleHospitalityContext Context
@using System
@using System.Collections.Generic
@using System.Collections
@using System.Linq

<div class="container">
    <input type="text" class="form-control-sm w-100" placeholder="search" @bind="searchInput" />
    <div class="list-group overflow-auto mb-3" style="max-height: 150px; min-height: 150px">
        <ul>
            @foreach (Ingredient ingredient in Context.Ingredients.Where(i => i.IngredientName!.Contains(searchInput)))
            {
                <li class="list-group-item d-flex">
                    <button 
                        class="btn btn-outline-primary me-2" 
                        type="button" 
                        id="@ingredient.IngredientID"
                        value="@ingredient.IngredientID" 
                        @onclick ="() => addIngredient(ingredient.IngredientID)">
                        Add
                        </button>
                    <label 
                        class="form-check-label"
                        for="@ingredient.IngredientID">
                        @ingredient.IngredientName
                        </label>
                </li>
            }
        </ul>
    </div>
</div>
<div class="container">
    <div class="list-group overflow-auto" style="max-height: 150px; min-height: 150px">
        @foreach (int id in addedIngredientIDs)
        {
            <li class="list-group-item d-flex">
                <label class="form-check-label">
                    @Context.Ingredients.Where(ing => ing.IngredientID == id).Select(ing => ing.IngredientName).First()
                </label>
                <div class="dropdown btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Measure Type
                    </button>
                    <ul class="justify-content-end dropdown-menu">
                        @foreach (var measurement in (from M in Context.Measurements select M.MeasurementDescription))
                        {
                            <li class="dropdown-item">
                                @measurement
                            </li>
                        }
                    </ul>
                </div>
            </li>
        }
        </div>
</div>

@code {
    string searchInput = "";
    public List<int> addedIngredientIDs = new List<int> { };

    public void addIngredient(int ingredientID)
    {
        addedIngredientIDs.Add(ingredientID);
        Console.WriteLine(ingredientID + " Added");
    }
}
