@namespace MyComponents.IngredientList
@rendermode InteractiveServer
@inject CircleHospitalityContext Context
@using System
@using System.Collections.Generic
@using System.Collections
@using System.Linq

<div class="container">
    <input type="text" class="form-control-sm w-100" placeholder="search" @bind="searchInput" />
    <div class="list-group overflow-auto" style="max-height: 150px; min-height: 150px">
        <ul>
            @foreach (Ingredient ingredient in Context.Ingredients.Where(i => i.IngredientName!.Contains(searchInput)))
            {
                <li class="list-group-item d-flex">
                    <button 
                        class="btn btn-outline-primary me-2" 
                        type="button" 
                        id="@ingredient.IngredientID"
                        value="@ingredient.IngredientID" 
                        onclick="@addedIngredientIDs.Append(ingredient.IngredientID)">
                        Add
                        </button>
                    <label 
                        class="form-check-label"
                        for="@ingredient.IngredientID">
                        @ingredient.IngredientName
                        </label>
                </li>
            }
        </ul>
    </div>
</div>
<div class="container">
        @foreach (int id in addedIngredientIDs)
        {
            <p>
            @Context.Ingredients.Where(ing => ing.IngredientID == id).Select(ing => ing.IngredientName);
            </p>
        }
</div>

@code {
    string searchInput = "";
    public List<int> addedIngredientIDs = new List<int> { 1, 2, 3 };

    public void addIngredient()
    {
        
    }
}
