@namespace MyComponents.Menu
@rendermode InteractiveServer
@inject CircleHospitalityContext Context
@using System
@using System.Collections.Generic
@using System.Collections
@using System.Linq

<div class="container text-center menu-container">

    @switch(sortType)
    {
        case "all":
            @foreach (var item in (from MI in Context.MenuItems
                                  join L in Context.LocationMenus
                                  on MI.MenuItemID equals L.MenuItemID
                                  where L.LocationID == locationID
                                  select new { MI.ItemName, MI.ItemDescription, MI.CreatorName, L.Price }))
            {
                <div class="container-fluid text-center mb-3">
                    <div class="container text-center border pt-3 pb-3">
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemName</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemDescription</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.CreatorName</p>
                            <p class="col">@item.Price</p>
                        </div>
                    </div>
                </div>
            }
            break;

        case "house":
            @foreach (var item in (from MI in Context.MenuItems
                              join L in Context.LocationMenus
                              on MI.MenuItemID equals L.MenuItemID
                              join T in Context.ItemTypes
                              on MI.ItemTypeID equals T.ItemTypeID
                              where (L.LocationID == locationID)
                              where (T.ItemTypeDescription == "House")
                              select new { MI.ItemName, MI.ItemDescription, MI.CreatorName, L.Price }))
            {
                <div class="container-fluid text-center mb-3">
                    <div class="container text-center border pt-3 pb-3">
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemName</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemDescription</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.CreatorName</p>
                            <p class="col">@item.Price</p>
                        </div>
                    </div>
                </div>
            }
            break;

        case "classic":
            @foreach (var item in (from MI in Context.MenuItems
                                  join L in Context.LocationMenus
                                  on MI.MenuItemID equals L.MenuItemID
                                  join T in Context.ItemTypes
                                  on MI.ItemTypeID equals T.ItemTypeID
                                  where (L.LocationID == locationID)
                                  where (T.ItemTypeDescription == "Classic")
                                  select new { MI.ItemName, MI.ItemDescription, MI.CreatorName, L.Price }))
            {
                <div class="container-fluid text-center mb-3">
                    <div class="container text-center border pt-3 pb-3">
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemName</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemDescription</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.CreatorName</p>
                            <p class="col">@item.Price</p>
                        </div>
                    </div>
                </div>
            }
            break;

        case "draft":
            @foreach (var item in (from MI in Context.MenuItems
                                  join L in Context.LocationMenus
                                  on MI.MenuItemID equals L.MenuItemID
                                  join T in Context.ItemTypes
                                  on MI.ItemTypeID equals T.ItemTypeID
                                  where (L.LocationID == locationID)
                                  where (T.ItemTypeDescription == "Draft")
                                  select new { MI.ItemName, MI.ItemDescription, MI.CreatorName, L.Price }))
            {
                <div class="container-fluid text-center mb-3">
                    <div class="container text-center border pt-3 pb-3">
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemName</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemDescription</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.CreatorName</p>
                            <p class="col">@item.Price</p>
                        </div>
                    </div>
                </div>
            }
            break;

        case "beer":
            @foreach (var item in (from MI in Context.MenuItems
                                  join L in Context.LocationMenus
                                  on MI.MenuItemID equals L.MenuItemID
                                  join T in Context.ItemTypes
                                  on MI.ItemTypeID equals T.ItemTypeID
                                  where (L.LocationID == locationID)
                                  where (T.ItemTypeDescription == "Beer")
                                  select new { MI.ItemName, MI.ItemDescription, MI.CreatorName, L.Price }))
            {
                <div class="container-fluid text-center mb-3">
                    <div class="container text-center border pt-3 pb-3">
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemName</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemDescription</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.CreatorName</p>
                            <p class="col">@item.Price</p>
                        </div>
                    </div>
                </div>
            }
            break;

        case "wine":
            @foreach (var item in (from MI in Context.MenuItems
                                  join L in Context.LocationMenus
                                  on MI.MenuItemID equals L.MenuItemID
                                  join T in Context.ItemTypes
                                  on MI.ItemTypeID equals T.ItemTypeID
                                  where (L.LocationID == locationID)
                                  where (T.ItemTypeDescription == "Wine")
                                  select new { MI.ItemName, MI.ItemDescription, MI.CreatorName, L.Price }))
            {
                <div class="container-fluid text-center mb-3">
                    <div class="container text-center border pt-3 pb-3">
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemName</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.ItemDescription</p>
                        </div>
                        <div class="row">
                            <p class="col menu-item-name">@item.CreatorName</p>
                            <p class="col">@item.Price</p>
                        </div>
                    </div>
                </div>
            }
            break;
    }
</div>


@code {
    [Parameter] public int locationID { get; set; }

    [CascadingParameter] string? sortType { get; set; }

    // Trying to shorten this file

    // public CircleHospitalityContext GetSortedList(string type) => (from MI in Context.MenuItems
    //                                                                join L in Context.LocationMenus
    //                                                                on MI.MenuItemID equals L.MenuItemID
    //                                                                join T in Context.ItemTypes
    //                                                                on MI.ItemTypeID equals T.ItemTypeID
    //                                                                where (L.LocationID == locationID)
    //                                                                where (T.ItemTypeDescription == type)
    //                                                                select new { MI.ItemName, MI.ItemDescription, MI.CreatorName, L.Price })

}
