@namespace MyComponents.Menu
@rendermode InteractiveServer
@inject CircleHospitalityContext Context
@* @using MyComponents.ItemSorter *@
@using System
@using System.Collections.Generic
@using System.Collections
@using System.Linq

<p>@sortType</p>

<div class="container text-center">
    @* <div class="row p-5">
        <div class="col">
            <ItemSorter />
        </div>
    </div> *@

    @switch(sortType)
    {
        case "all":
            @foreach (var item in (from MI in Context.MenuItems
                                  join L in Context.LocationMenus
                                  on MI.MenuItemID equals L.MenuItemID
                                  where L.LocationID == locationID
                                  select (MI)))
            {
                <div class="container-fluid text-center w-25 mb-3">
                    <div class="container text-center border pt-3 pb-3">
                        <div class="row">
                        <p class="col menu-item-name">@item.ItemName</p>
                        </div>
                        <div class="row">
                        <p class="col menu-item-name">@item.ItemDescription</p>
                        </div>
                        <div class="row">
                        <p class="col menu-item-name">@item.CreatorName</p>
                        <p class="col">Price</p>
                        </div>

                    </div>
                </div>
            }
            break;

        case "house":
            @foreach (var item in (from MI in Context.MenuItems
                              join L in Context.LocationMenus
                              on MI.MenuItemID equals L.MenuItemID
                              join T in Context.ItemTypes
                              on MI.ItemTypeID equals T.ItemTypeID
                              where (L.LocationID == locationID)
                              where (T.ItemTypeDescription == "House")
                              select (MI)))
            {
                <div class="container-fluid text-center w-25 mb-3">
                    <div class="border pt-3 pb-3">
                        <p class="menu-item-name">@item.ItemName</p>
                        <p class="menu-item-name">@item.ItemDescription</p>
                        <p class="menu-item-name">@item.CreatorName</p>
                    </div>
                </div>
            }
            break;

        case "classic":
            @foreach (var item in (from MI in Context.MenuItems
                                  join L in Context.LocationMenus
                                  on MI.MenuItemID equals L.MenuItemID
                                  join T in Context.ItemTypes
                                  on MI.ItemTypeID equals T.ItemTypeID
                                  where (L.LocationID == locationID)
                                  where (T.ItemTypeDescription == "Classic")
                                  select (MI)))
            {
                <div class="container-fluid text-center w-25 mb-3">
                    <div class="border pt-3 pb-3">
                        <p class="menu-item-name">@item.ItemName</p>
                        <p class="menu-item-name">@item.ItemDescription</p>
                        <p class="menu-item-name">@item.CreatorName</p>
                    </div>
                </div>
            }
            break;

        case "draft":
            @foreach (var item in (from MI in Context.MenuItems
                                  join L in Context.LocationMenus
                                  on MI.MenuItemID equals L.MenuItemID
                                  join T in Context.ItemTypes
                                  on MI.ItemTypeID equals T.ItemTypeID
                                  where (L.LocationID == locationID)
                                  where (T.ItemTypeDescription == "Draft")
                                  select (MI)))
            {
                <div class="container-fluid text-center w-25 mb-3">
                    <div class="border pt-3 pb-3">
                        <p class="menu-item-name">@item.ItemName</p>
                        <p class="menu-item-name">@item.ItemDescription</p>
                        <p class="menu-item-name">@item.CreatorName</p>
                    </div>
                </div>
            }
            break;

        case "beer":
            @foreach (var item in (from MI in Context.MenuItems
                                  join L in Context.LocationMenus
                                  on MI.MenuItemID equals L.MenuItemID
                                  join T in Context.ItemTypes
                                  on MI.ItemTypeID equals T.ItemTypeID
                                  where (L.LocationID == locationID)
                                  where (T.ItemTypeDescription == "Beer")
                                  select (MI)))
            {
                <div class="container-fluid text-center w-25 mb-3">
                    <div class="border pt-3 pb-3">
                        <p class="menu-item-name">@item.ItemName</p>
                        <p class="menu-item-name">@item.ItemDescription</p>
                        <p class="menu-item-name">@item.CreatorName</p>
                    </div>
                </div>
            }
            break;
    }
</div>


@code {
    [Parameter]
    public int locationID { get; set; }

    // public string? sortType { get; set; } = "all";

    [CascadingParameter] string? sortType { get; set; }
}
